.row{
    margin-bottom: 10px;
}

p {
  border-style: dashed;
  border-color: white;
  padding: 10px;
  color:white;
  font-weight: 600;
/*  border-width: 5px;
  border-style: solid;*/
/*  border-image: url("../img/border.png") 60;
  border-image-slice: 30%;*/
}

body{
  background-image: url("../img/bg.png");
  background-repeat: repeat
}
